name: Build Pagobot

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
    - uses: actions/checkout@v3
      name: checkout
    
    - uses: docker/login-action@v1
      name: Login into Github Registry
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: docker/build-push-action@v2
      name: Push Docker image
      with:
        context: .
        push: true
        tags: ghcr.io/itspacchu/pacgobot:latest
